.checkout-page {
  min-height: 100vh;
margin-top: 400px;
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #0d0b27;
  margin-top: 80px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #a29bfe;
  border-radius: 4px;
  padding: 18px;
}

.checkout-page .page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
  color: #ffffff;
 text-align: start;
}


@media (max-width: 1000px) {
  .checkout-page .main {
    max-width: 500px;
  }

  
}
/* ---okvir oko summary---- */
.checkout-page .cart-item-container,
.checkout-page .payment-summary {
  border: 1px solid #a29bfe;
  border-radius: 6px;
  padding: 18px;

}


@media (max-width: 1000px) {
  .checkout-page .payment-summary {

    grid-row: 1;
    margin-bottom: 12px;
  }
}



@media (max-width: 1000px) {
  .checkout-page .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

@media (max-width: 1000px) {}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  gap:5px;
  margin: 10px 0;
  background: #1a1a2e; /* Dark background so the glow shows up */
  border-radius: 10px;
  color: white;
  
}

.item-info {
  flex: 1; /* This pushes buttons to the right */
}

.cart-item button:not(.heart-button) {
  border-radius: 20px;
  background-color: #a29bfe;
  border: 1px solid #241f6b;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  color: white;
  padding: 4px 8px;
  margin: 2px;
  font-size: 12px;
  cursor: pointer;
}


/* This targets the buttons specifically */
.cart-item button {
  border-radius: 18px;
  background-color: #800707;
  border: 1px solid #640000;
  box-shadow: 0 0 20px #ff0000, inset 0 0 4px #470a0a;
  color: white;

  padding: 4px 8px;   /* smaller buttons */
  font-size: 12px;    /* smaller text */
  margin: 2px;        /* less space between buttons */
  
  cursor: pointer;

  

}

.checkout-page .payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.checkout-page .payment-summary-row {
  display: grid;
  font-size: 15px;
  margin-bottom: 9px;
}

.checkout-page .payment-summary-money {
  text-align: right;
}

.checkout-page .total-row {
  /* ---boja cene--- */
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid #a29bfe;
  padding-top: 18px;

}

.checkout-page .place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
color: #ffffff;
  border-radius: 5px;
  background-color: #a29bfe;
  border: 1px solid #241f6b;
  /* A slightly darker purple border for depth */
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  margin-top: 20px;
  margin-bottom: 19px;
}