.home-page {
  background-color: #0d0b27;
  min-height: 100vh;
  width: 100%;
  color: aliceblue;
  padding-top: 50px;
}

.home-page .products-grid {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
}


@media (max-width: 2000px) {
  .home-page .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .home-page .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .home-page .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .home-page .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .home-page .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .home-page .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .home-page .products-grid {
    grid-template-columns: 1fr;
  }
}

*.home-page .product-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
/* ---traka izmedju--- */
  /* border-right: 1px solid rgb(240, 240, 240); */
  /* border-bottom: 1px solid rgb(240, 240, 240); */

  display: flex;
  flex-direction: column;
}

.home-page .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}

.home-page .product-image {
  
  max-width: 120%;
  max-height: 100%;
  border-radius: 25px;
}

.home-page .product-name {
  /* height: 40px; */
  margin-bottom: 2px;
}

/* ---RECENZIJE I BROJ ISTIH U LINIJI--- */
.home-page .product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.home-page .product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

/* -----RECENZIJE---  */
.home-page .product-rating-count {
 /* --- boja fonta za recenzije--- */
  color: #a29bfe;
  cursor: auto;
  margin-top: 3px;
}

.home-page .product-price {
  font-weight: 500;
  color: #a29bfe;
  margin-bottom: 10px;
}


/* !!!!!!!!!!!!!! */



.home-page .product-quantity-wrapper select {
  background-color: #a29bfe;
  color: white;              
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -5px;
  
border: 1px solid #a29bfe; 
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
}

.home-page .product-spacer {
  flex: 1;
}

.home-page .added-to-cart {
  color: #a29bfe;
  font-size: 16px;
/* ---dize ostale addcart elemente gore--- */
  margin-top: -100px;
  opacity: 0;
}

.home-page .add-to-cart-button {
  width: 50%;
/* ---centriranje--- */
  align-self: center;

  white-space: nowrap;


  height: 30px;
  width: 50%;
  margin-left: 12px;
  background-color: #a29bfe;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  transform: translateY(-28px);
}