

.cancel-button {
  background: none;
  border: 1px solid #ff4757;
  color: #ff4757;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  
  margin-left: 859px;
  margin-bottom: 10px;
}

.cancel-button:hover {
  background-color: #ff4757;
  color: white;
  box-shadow: 0 0 10px #ff4757;
}

.orders-page {
  max-width: 950px;
  max-height: 400vh;
  /* -odvajam gore i dole kontejner-- */
  margin-top: 90px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: rgb(21, 0, 39);
  color: rgb(255, 255, 255);
  /* margin-left: auto;
     margin-right auto;
     a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}

.orders-page .page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-page .orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.orders-page .order-header {
  background-color: #36194d;
  border: 1px solid #a29bfe;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.orders-page .order-header-left-section {
  display: flex;
  flex-shrink: 0;
  color: #ffffff;
  
}

.orders-page .order-header-label {
  font-weight: 700;
  
}



.orders-page .order-date,
.orders-page .order-total {
  margin-right: 45px;
}

.orders-page .order-header-right-section {
  flex-shrink: 1;
  
}

@media (max-width: 575px) {
  .orders-page .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .orders-page .order-header-left-section {
    flex-direction: column;
  }

  .orders-page .order-header-label {
    margin-right: 5px;
    
  }

  .orders-page .order-date,
  .orders-page .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .orders-page .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

/* ---kontejner gde su igrice--- */
.orders-page .order-details-grid {
  padding: 40px 25px;
  border: 1px solid #a29bfe;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;

  display: inline-block;
  
  
}

@media (max-width: 800px) {
  .orders-page .order-details-grid {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px) {
  .orders-page .order-details-grid {
    grid-template-columns: 1fr;
  }
}

.orders-page .product-image-container {
  text-align: center;
  
}

.orders-page .product-image-container img {
  max-width: 110px;
  max-height: 110px;
  margin-right: 14px;
}

/* .orders-page .product-name {
  font-weight: 700;
  margin-bottom: 5px;
} */



/* .orders-page .product-quantity {
  margin-bottom: 8px;
} */

.orders-page .buy-again-button {
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 35px;
  width: 100px;
  height: 36px;
 /* ----boja, senka, sjaj gumeta add to cart--- */
  border-radius: 20px;
  background-color: #a29bfe;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  color: #ffffff;
  
}



.orders-page .track-package-button {
  width: 100%;
margin-top: 30px;
margin-bottom: 30px;
  font-size: 14px;
  padding: 8px;
  border-radius: 45px;
  background-color: #a29bfe;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  color: #ffffff;

}

@media (max-width: 800px) {
  .orders-page .buy-again-button {
    margin-bottom: 10px;
  }

  
}

@media (max-width: 450px) {
  .orders-page .product-image-container {
    text-align: center;
    margin-bottom: 25px;
  }


 
}