.tracking-page {
  max-width: 940px;
  margin-top: 90px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(21, 0, 39);
  color: rgb(255, 255, 255);

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.tracking-page .back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.tracking-page .delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tracking-page .product-info {
  margin-bottom: 3px;
}

.tracking-page .product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.tracking-page .progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tracking-page .current-status {
  color: #ffffff;
}

@media (max-width: 575px) {
  .tracking-page .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .tracking-page .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .tracking-page .progress-label {
    margin-bottom: 3px;
  }
}

.tracking-page .progress-bar-container {
  height: 25px;
  width: 100%;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.tracking-page .progress-bar {
  height: 100%;
  background-color: #a29bfe;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  border-radius: 50px;
  width: 10%;
}