/* Dark theme (your current site colors) */
.app.dark-theme {
  --bg-color: #202036;         /* background */
  --text-color: aliceblue;     /* text */
  --primary-color: #6c5ce7;    /* buttons, highlights, etc. */
}

/* Light theme (new colors you want) */
.app.light-theme {
  --bg-color: #d3d3d3;
  --text-color: #222222;
}

.app {
  transition: all 0.3s ease;
}

.add-to-cart-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.Toastify__toast--success {
  background-color: #202036;
  color: aliceblue;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  overflow: hidden;
}

.Toastify__progress-bar--success {
  background: rgb(255, 255, 255);
  border-radius: 35px;
  height: 2px;
  box-shadow: 0 0 35px #6c5ce7, inset 0 0 5px #6c5ce7;
  border-radius: 132px;
}

.Toastify__toast-icon svg {
  fill: white;
  box-shadow: 0 0 10px 2px #6c5ce7;
  border-radius: 50%;
}

body {
  margin: 0;
}

.light,
.dark {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  transition: all 0.3s ease;
}